## NYC COLLISION DATA ANALYSIS

In [5]:
!pip install pandas
!pip install ipython-sql prettytable 

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: ipython-sql in /usr/local/python/3.12.1/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/python/3.12.1/lib/python3.12/site-packages (3.17.0)
Requirement already satisfied: ipython in /home/codespace/.local/lib/python3.12/site-packages (from ipython-sql) (9.7.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (0.5.4)
Requirement already satisfied: six in /home/codespace/.local/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /home/codespace/.local/lib/python3.12/site-packages (from prettytable) (0.2.14)
Requirement already satisfied: greenlet>=1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: decorator>=4.3.2 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers>=1.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.18.1 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline>=0.1.5 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.11.0 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data>=0.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /home/codespace/.local/lib/python3.12/site-packages (from jedi>=0.18.1->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /home/codespace/.local/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in /home/codespace/.local/lib/python3.12/site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (0.2.3)

In [6]:
import csv, sqlite3
con = sqlite3.connect("NYCCOLLISIONDATA.db")
cur = con.cursor()

In [7]:
%reload_ext sql

In [8]:
import pandas
df1 = pandas.read_csv("https://data.cityofnewyork.us/resource/h9gi-nx95.csv")
df1.to_sql("NYC_CRASHES", con, if_exists='replace', index=False, method="multi")

df2 = pandas.read_csv("https://data.cityofnewyork.us/resource/bm4k-52h4.csv")
df2.to_sql("NYC_VEHICLES", con, if_exists='replace', index=False, method="multi")

df3 = pandas.read_csv("https://data.cityofnewyork.us/resource/f55k-p6yu.csv")
df3.to_sql("NYC_PERSONS", con, if_exists='replace', index=False, method="multi")

1000

In [9]:
import pandas as pd
#df1.head()
df2.head()
#df3.head()

,unique_id,collision_id,crash_date,crash_time,vehicle_id,state_registration,vehicle_type,vehicle_make,vehicle_model,vehicle_year,...,pre_crash,point_of_impact,vehicle_damage,vehicle_damage_1,vehicle_damage_2,vehicle_damage_3,public_property_damage,public_property_damage_type,contributing_factor_1,contributing_factor_2
0,10385780,100201,2012-09-07T00:00:00.000,9:03,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
1,19140702,4213082,2019-09-23T00:00:00.000,8:15,0553ab4d-9500-4cba-8d98-f4d7f89d5856,NY,Station Wagon/Sport Utility Vehicle,TOYT -CAR/SUV,NaN,2002.0,...,Going Straight Ahead,Left Front Bumper,Left Front Quarter Panel,NaN,NaN,NaN,N,NaN,Driver Inattention/Distraction,Unspecified
2,14887647,3307608,2015-10-02T00:00:00.000,17:18,2,NY,TAXI,NaN,NaN,NaN,...,Going Straight Ahead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN
3,14889754,3308693,2015-10-04T00:00:00.000,20:34,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,Parked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
4,14400270,297666,2013-04-25T00:00:00.000,21:15,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Vehicular,NaN

In [10]:
%sql sqlite:///NYCCOLLISIONDATA.db
%sql SELECT * FROM sqlite_master WHERE type= "table";

 * sqlite:///NYCCOLLISIONDATA.db
Done.

[('table', 'NYC_CRASHES', 'NYC_CRASHES', 2, 'CREATE TABLE "NYC_CRASHES" (\n"crash_date" TEXT,\n  "crash_time" TEXT,\n  "borough" TEXT,\n  "zip_code" REAL,\n  "latitude" REAL,\n  "longitude" REAL ... (667 characters truncated) ... ehicle_type_code1" TEXT,\n  "vehicle_type_code2" TEXT,\n  "vehicle_type_code_3" TEXT,\n  "vehicle_type_code_4" TEXT,\n  "vehicle_type_code_5" TEXT\n)'),
 ('table', 'NYC_VEHICLES', 'NYC_VEHICLES', 52, 'CREATE TABLE "NYC_VEHICLES" (\n"unique_id" INTEGER,\n  "collision_id" INTEGER,\n  "crash_date" TEXT,\n  "crash_time" TEXT,\n  "vehicle_id" TEXT,\n  " ... (423 characters truncated) ... 3" TEXT,\n  "public_property_damage" TEXT,\n  "public_property_damage_type" TEXT,\n  "contributing_factor_1" TEXT,\n  "contributing_factor_2" TEXT\n)'),
 ('table', 'NYC_PERSONS', 'NYC_PERSONS', 97, 'CREATE TABLE "NYC_PERSONS" (\n"unique_id" INTEGER,\n  "collision_id" INTEGER,\n  "crash_date" TEXT,\n  "crash_time" TEXT,\n  "person_id" TEXT,\n  "pe ... (245 characters truncated) ... "ped_action" TEXT,\n  "complaint" TEXT,\n  "ped_role" TEXT,\n  "contributing_factor_1" TEXT,\n  "contributing_factor_2" TEXT,\n  "person_sex" TEXT\n)')]

In [11]:
%sql SELECT COUNT(*) FROM NYC_CRASHES;

 * sqlite:///NYCCOLLISIONDATA.db
Done.

[(1000,)]

In [12]:
%sql SELECT COUNT(*) FROM NYC_VEHICLES;

 * sqlite:///NYCCOLLISIONDATA.db
Done.

[(1000,)]

In [13]:
%sql SELECT COUNT(*) FROM NYC_PERSONS;

 * sqlite:///NYCCOLLISIONDATA.db
Done.

[(1000,)]

In [14]:
%sql SELECT collision_id \
FROM NYC_CRASHES \
WHERE crash_date LIKE '%2020%';

 * sqlite:///NYCCOLLISIONDATA.db
Done.

[(4277087,), (4407790,)]

In [15]:
%sql SELECT collision_id \
FROM NYC_VEHICLES \
WHERE crash_date LIKE '%2020%';

 * sqlite:///NYCCOLLISIONDATA.db
Done.

[(4322767,), (4322092,), (4322349,), (4322428,), (4322338,)]